@charset "utf-8";

ul.tabs {
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li {
	line-height: 50px;
	margin-bottom: 1px;
	text-align: center;
	background: #898989;
	color: white;
	cursor: pointer;
}

.tab-link a {
	display: block;
	padding: 10px 30px;
}

ul.tabs li.current {
	background: #e0e0e0;
	color: #222;
}

.tab-content {
	width: 1000px;
	min-height:500px;
	padding: 30px;
	display: none;
	background: #e0e0e0;
	margin-left: 160px;
}

.tab-content.current {
	display: inherit;
}

ul.product li {
	text-align: center;
	width: 300px;
	display: inline-block;
	background: #898989;
	color: white;
	padding: 10px 15px;
	cursor: pointer;
}

ul.product li.current {
	background: #e0e0e0;
	color: #222;
}

.product-content {
	display: none;
}

.product-content.current {
	display: inherit;
}
#myform fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#myform fieldset legend{
    text-align: right;
}
#myform input[type=radio]{
    display: none;
}
#myform label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#myform label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#reviewContents {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    margin-bottom: 20px;
}

#write_btn{
	width: 100%;
	padding: 10px;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
	
}