.white-box .box-title{font-size:25px;}
thead th {font-weight:600;font-size:18px;}
section.myplace h1{padding:20px; font-weight:600}
   section.myplace h1.tit{background-color:#85b4d0; margin:0; color:#fff; border-radius:20px 20px 0 0;}
   section.myplace h2{font-weight:600}
section.myplace .rsv_wrapper .place_list{width:100%;}
section.myplace .rsv_wrapper .place_list .place_list_card{width:100%;}
section.myplace .rsv_wrapper .place_list .place_list_card > ul > li{width:100%;overflow:hidden; margin-bottom:150px;background-color:#fff;border-radius: 20px 20px 0 0;}
section.myplace .rsv_wrapper .place_list .place_list_card li .place_image {width:500px; height:500px; float:left;background:url("/images/place.jpg")no-repeat 0 0; background-size:cover}
section.myplace .rsv_wrapper .place_list .place_list_card li .place_image img{width:100%;}
section.myplace .rsv_wrapper .place_list .place_list_card li .right_wrapp{float:left; width:calc(100% - 500px);height:500px;padding:30px}
section.myplace .rsv_wrapper .place_list .place_list_card li .place_info {float:left;width:100%; height:400px;font-size:20px;}
section.myplace .rsv_wrapper .place_list .place_list_card li .place_info p{float:left;width:50%;;margin:20px 0}
section.myplace .rsv_wrapper .place_list .place_list_card li .place_info p span{font-size:20px;font-weight:600;margin-right:20px;}
section.myplace .rsv_wrapper .place_list .place_list_card li .review {float:left;width:calc(100% - 370px);margin-left:20px;height:360px;}
section.myplace .rsv_wrapper .place_list .place_list_card li .review_list {overflow-y:scroll;padding-right: 20px;height:70vh;}
section.myplace .rsv_wrapper .place_list .place_list_card li .review_list p{display:block;width:100%;word-break:break-all}


section.myplace .review_area{float:left;width:100%;}


section.myplace .tab_list .select_tab{border-bottom:2px solid #eaeaea;}
section.myplace .tab_list .select_tab li{float:left; padding:20px; color:#00000061}
section.myplace .tab_list .select_tab li.active{color:#f1b233;}
section.myplace .gj-datepicker-md [role="right-icon"]{font-size:18px}
section.myplace .datepicker_wrapp{overflow:hidden}
section.myplace .startdate {margin:20px 20px 20px 0; float:left}
section.myplace .enddate {margin:20px 20px 20px 0; float:left}
section.myplace .tab_contents .room_list > ul > form > li{border:1px solid #eaeaea;overflow:hidden;margin-bottom:20px;}
section.myplace .tab_contents .room_list li .room_img{float:left}
section.myplace .tab_contents .room_list li .room_desc{float:left;margin-left:20px;padding:20px 0}

section.myplace .tab_contents{display:none}
section.myplace .tab_contents.active{display:block}

section.myplace .tab_contents .room_info h3{margin:32px 0;}
section.myplace .tab_contents .room_info .info_box{padding:40px;background:#eaeaea;color:#0000008f}

section.myplace .tab_contents .review_top{padding:40px 0;border-bottom: 2px solid #eaeaea;text-align:center}
section.myplace .tab_contents .review_top .grade{font-size:30px; font-weight:600;}
section.myplace .tab_contents .review_list > ul > li {padding:20px;overflow:hidden;border-bottom: 1px solid #eaeaea;}
section.myplace .tab_contents .review_list li .pic{float:left;width:100px; height:100px; border-radius:100%;overflow:hidden}
section.myplace .tab_contents .review_list li .pic img{width:100%}
section.myplace .tab_contents .review_list li .r_list_head{margin-left:30px;padding: 10px 0;float:left;height:100px}
section.myplace .tab_contents .review_list li .r_list_contents{float:left;width:100%;margin:20px 0 0 120px}
section.myplace .tab_contents .review_list li .r_list_contents .reply_date{padding:20px 0;}
section.myplace .tab_contents .review_list li .r_list_contents .img_zone{width:300px}
section.myplace .tab_contents .review_list li .r_list_contents .img_zone img{width:100%}

section.myplace .room_img img{width:360px; height:246px}
section.myplace .review_list li li{width:300px;float:left;}
section.myplace .rsv_info{font-size:15px; font-weight:300; color:#ccc;}
section.myplace .reply_date{font-size:14px; color:#ccc}

section.myplace .grade_img{width:100px; height:20px;display: inline-block;margin-right:20px;vertical-align: middle; background:url(/assets/img/boards/bg_score.png);background-size:cover;}
section.myplace .grade_img.score_50{background-position:0 0}
section.myplace .grade_img.score_45{background-position:0 -20px}
section.myplace .grade_img.score_40{background-position:0 -40px}
section.myplace .grade_img.score_35{background-position:0 -60px}
section.myplace .grade_img.score_30{background-position:0 -80px}
section.myplace .grade_img.score_25{background-position:0 -100px}
section.myplace .grade_img.score_20{background-position:0 -120px}
section.myplace .grade_img.score_15{background-position:0 -140px}
section.myplace .grade_img.score_10{background-position:0 -160px}
section.myplace .grade_img.score_5{background-position:0 -180px}
section.myplace .grade_img.score_0{background-position:0 -200px}

section.myplace .edit_btn{display:inline-block;width:100%;color:#fff; font-weight:600;font-size:25px;text-align:center; padding: 10px 20px; background-color:#85b4d0; border-radius:30px;}
section.myplace .regist_btn{display:inline-block;width:200px;color:#fff; font-weight:600;font-size:18px;text-align:center; padding: 10px 20px; background-color:#85b4d0; border-radius:25px;}
section.myplace .top{height:108px;}
section.myplace .top h1{display:inline-block; float:left}
section.myplace .top .btn_wrapper{display:inline-block; float:right;height:108px; padding:30px;}
section.myplace .review_list::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

section.myplace .review_list::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: #85b4d0; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

section.myplace .review_list::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}
